<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/mainstyle.css">
    <title>Kyle's Page</title>
    <script src="../static/js/jquery-3.5.1.js">
    <script type="javascript">
        console.log("Hello World")
    </script>



   <span style="padding-left:20px" ></span>
</head>
<body>

<h1 id="main_title" style="text-align:center">Welcome to my page!</h1>
<span style="padding-left:60px" ></span>

<form action="/tweet" method="post">

    <input type="text">
    <input type="submit" value="tweet it!">
</form>

<center>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Hobbies</h5>
    <p class="card-text">these are my hobbies...</p>
    <a href="hobbies.html.jinja2" class="btn btn-primary">click here</a>
  </div>
</div><span style="padding-left:20px"></span>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Page 2</h5>
    <p class="card-text">check out css changing</p>
    <a href="2.html.jinja2" class="btn btn-primary">click here</a>
  </div>
</div><span style="padding-left:20px" ></span>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Page 3</h5>
    <p class="card-text">check out setInterval and slide_down</p>
    <a href="3.html.jinja2" class="btn btn-primary">click here</a>
  </div>
</div><span style="padding-left:20px"></span>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Tweets</h5>
    <p class="card-text">check out some tweets</p>
    <a href="tweets.html.jinja2" class="btn btn-primary">click here</a>
  </div>
</div><span style="padding-left:20px"></span>
    </center>

</body>
</html>